@model IEnumerable<Cinema.Models.NameModel>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <table class="table">
        <thead>
            <tr>
            <th>Название</th>
            <th>Режисер</th>
            <th>Жанр</th>
            <th>Описание</th>
            </tr>
        </thead>
        @foreach(var film in Model)
            {
    <tr>
        <td>
            @film.Name
        </td>
        <td>
            @film.StyleId
        </td>
        <td>
            @film.DirectorId
        </td>
        <td>
            @film.Description
        </td>
    </tr>
            }
    </table>
</div>
