@model CinemaContext
@{
    ViewData["Title"] = "Home Page";

}

<div>
    <table class="table">
        <thead>
            <tr>
            <th>Название</th>
            <th>Режисер</th>
            <th>Жанр</th>
            <th>Описание</th>
            </tr>
        </thead>
        
            @foreach (var film in ViewBag.Films)
            {
    <tr>
        <td>
            @film.Name
        </td>
        <td>
            @ViewBag.Styles.Find(film.StyleId).Name
        </td>
        <td>
            @ViewBag.Directors.Find(film.DirectorId).Name;
        </td>
        <td>
            @film.Description
        </td>
    </tr>
            }
        
    </table>
</div>
